<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>My Work</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/myWork.css">
    <script>
        document.addEventListener("click", function () {
            window.parent.postMessage("iframeClicked", "*")
        })
    </script>
</head>
<body>

    <div class="container">
        <a href="/index.html">
            <i class="fas fa-home arrow" title="Home"></i>
        </a>
        <div class="menus-container">
            <a href="/templates/about.html" style="text-decoration: none;">
                <span data-lang="button-about" class="menus">
                    About Me
                </span>
            </a>
            <a href="/templates/pyrdlgen.html" style="text-decoration: none;">
                <span class="menus">
                    Pyrdlgen
                </span>
            </a>
            <a style="text-decoration: none;">
                <span class="menus" title="Available soon">
                    Droply
                </span>
            </a>
            <a href="/templates/contact.html" style="text-decoration: none;">
                <span class="menus" data-lang="button-contact" title="Available soon">
                    Contact
                </span>
            </a>
        </div>
        <div class="texto-container">
            <h1 data-lang="title-my-work"></h1>
            <h2 data-lang="subtitle-my-work"></h2>
            <h3 data-lang="description-my-work"></h3>
        </div>

        <div class="imagem-container">
            <img src="/media/tecnologias.png">
        </div>

        <script>
            const translations = {
                "pt": {
                    "title-my-work": "Meu Trabalho",
                    "subtitle-my-work": "Aqui você encontrará exemplos do que faço, minhas habilidades e minha experiência profissional.",
                    "description-my-work": `Atualmente, trabalho com <b>desenvolvimento e manutenção de sistemas web e APIs</b>, utilizando tecnologias como <b>Python, Flask, FastAPI e .NET Core C#</b> na empresa <b>Fast2Mine</b>. <br>  

                    Tenho experiência com <b>Docker, Git, SQL Server e PostgreSQL</b>, incluindo <b>procedures, funções e visualizações</b>. <br>  

                    Para <b>gerenciamento de banco de dados</b>, utilizo o <b>Microsoft SQL Server Management Studio</b>, realizando <i>administração básica de servidores, bancos de dados, tabelas, procedures, funções e visualizações</i>. <br>  

                    Um dos projetos que desenvolvi foi um <b>atualizador automático</b> para um sistema web utilizado por clientes, com um <b>portal próprio de agendamento de atualizações</b>.  <br>
                    - O atualizador foi feito em <b>Python</b>, e o agendador web foi desenvolvido com <b>Flask</b>.  <br>
                    - Foram feitas <b>integrações com APIs externas</b>, como a API do <b>Jira</b>, além de <b>armazenamento de dados em SQLite</b>. <br>  
                    <br>
                    Além disso, criei diversos <b>sistemas web utilizando Python</b> tanto no backend quanto no frontend, explorando tecnologias como <b>Streamlit, HTML, CSS</b> <i>(incluindo Bootstrap)</i> e <b>JavaScript</b>, além de bibliotecas como <b>Pandas, NumPy</b> e outras. <br>  

                    Também trabalhei com <b>.NET Core C#</b>, desenvolvendo uma <b>API para processamento de RDLC</b> usando <b>ReportViewerCore</b>, permitindo a <b>geração eficiente de relatórios</b>.  
                    Essa solução foi projetada para <b>se integrar a outras tecnologias</b>, como <b>Python</b>, viabilizando a visualização dos relatórios dentro de um sistema web. <br>  

                    Minha experiência inclui o <b>desenvolvimento de APIs com Flask</b>, bem como a <b>criação de uma API do zero com FastAPI</b>, seguindo o <b>padrão RESTful</b> e sendo um <b>projeto estratégico para a empresa</b>. <br>  

                    Também atuei na <b>manutenção de sistemas e APIs web</b>, incluindo suporte e melhorias em uma API desenvolvida utilizando <b>Falcon</b>. <br>  

                    Para <b>gerenciamento de banco de dados</b>, utilizo o <b>Microsoft SQL Server Management Studio</b>, realizando <i>administração básica de servidores, bancos de dados, tabelas, procedures, funções e visualizações</i>. <br><br>  

                    Alguns <b>projetos pessoais</b> foram realizados para estudar e praticar, como:  <br>
                    - <b>Aplicativos mobile com Java</b>, consumindo APIs externas como <b>Google Maps, Firebase e Firestore</b>, com comunicação em tempo real.  <br>
                    - <b>Aplicações web com Node.js e Express</b>, incluindo <b>ambientes 3D</b> com cenas e objetos <b>sincronizados em tempo real</b> via <b>Socket.io</b>. <br>  

                    Criei meu primeiro <b>componente web</b>, chamado <b>Droply</b>, utilizando <b>JavaScript vanilla</b>. O projeto está no <a href="https://github.com/mobster-dev"><b>GitHub</b></a> e foi publicado via <b>CDN</b>. <br>  

                    O <b>Droply</b> é um <b>componente de dropdown</b> em <b>JavaScript puro</b>, desenvolvido para ser <b>leve, flexível e fácil de integrar</b> em qualquer projeto web.  
                    Ele permite a criação de <b>dropdowns usados como filtros hierárquicos</b> e altamente personalizáveis, <b>sem a necessidade de bibliotecas externas</b>.`,
                    "button-contact": "Contato",
                    "button-about": "Sobre mim"
                },
                "en": {
                    "title-my-work": "My Work",
                    "subtitle-my-work": "Here you will find examples of what I do, my skills, and my professional experience.",
                    "description-my-work": `Currently, I work with <b>web system and API development and maintenance</b>, using technologies such as <b>Python, Flask, FastAPI, and .NET Core C#</b> at the company <b>Fast2Mine</b>. <br>

                    I have experience with <b>Docker, Git, SQL Server, and PostgreSQL</b>, including <b>procedures, functions, and views</b>. <br>

                    For <b>database management</b>, I use <b>Microsoft SQL Server Management Studio</b>, performing <i>basic administration of servers, databases, tables, procedures, functions, and views</i>. <br>

                    One of the projects I developed was an <b>automatic updater</b> for a web system used by clients, with a <b>custom scheduling portal for updates</b>. <br>
                    - The updater was made in <b>Python</b>, and the web scheduler was developed with <b>Flask</b>. <br>
                    - <b>Integrations with external APIs</b>, such as the <b>Jira API</b>, and <b>data storage in SQLite</b> were implemented. <br>

                    Additionally, I created several <b>web systems using Python</b> for both the backend and frontend, exploring technologies like <b>Streamlit, HTML, CSS</b> <i>(including Bootstrap)</i>, and <b>JavaScript</b>, as well as libraries like <b>Pandas, NumPy</b>, and others. <br>

                    I also worked with <b>.NET Core C#</b>, developing an <b>API for RDLC processing</b> using <b>ReportViewerCore</b>, enabling <b>efficient report generation</b>.
                    This solution was designed to <b>integrate with other technologies</b>, such as <b>Python</b>, allowing reports to be viewed within a web system. <br>

                    My experience includes <b>API development with Flask</b>, as well as <b>building an API from scratch with FastAPI</b>, following the <b>RESTful standard</b> and being a <b>strategic project for the company</b>. <br>

                    I also worked on <b>maintenance of web systems and APIs</b>, including support and improvements for an API developed using <b>Falcon</b>. <br>

                    For <b>database management</b>, I use <b>Microsoft SQL Server Management Studio</b>, performing <i>basic administration of servers, databases, tables, procedures, functions, and views</i>. <br><br>

                    Some <b>personal projects</b> were created to study and practice, such as: <br>
                    - <b>Mobile apps with Java</b>, consuming external APIs like <b>Google Maps, Firebase, and Firestore</b>, with real-time communication. <br>
                    - <b>Web applications with Node.js and Express</b>, including <b>3D environments</b> with scenes and objects <b>synced in real-time</b> via <b>Socket.io</b>. <br>

                    I created my first <b>web component</b>, called <b>Droply</b>, using <b>vanilla JavaScript</b>. The project is on <a href="https://github.com/mobster-dev"><b>GitHub</b></a> and was published via <b>CDN</b>. <br>

                    <b>Droply</b> is a <b>dropdown component</b> in <b>pure JavaScript</b>, designed to be <b>lightweight, flexible, and easy to integrate</b> into any web project.
                    It allows the creation of <b>dropdowns used as hierarchical filters</b> and is highly customizable, <b>without the need for external libraries</b>.`,
                    "button-contact": "Contact",
                    "button-about": "About me"
                }
            }
    
            function setLanguage(lang) {
                document.querySelectorAll('[data-lang]').forEach(element => {
                    const key = element.getAttribute('data-lang')
                    if (translations[lang] && translations[lang][key]) {
                        element.innerHTML = translations[lang][key]
                    }
                })
                document.documentElement.lang = lang
            }
    
            const userLang = navigator.language || navigator.userLanguage
            const lang = userLang.startsWith('pt') ? 'pt' : 'en'
            setLanguage(lang)
    
        </script>
    </div>
</body>
</html>